@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root {
    --cor-de-fundo:  #000000;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botão-ativo: #3A375E;
    --botão-inativo: rgb(73, 125, 185);
    --texto-fundo: rgba(52, 60, 167, 0.986);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal {
    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}
.titulo-principal {

    text-align:left;
    width: 100%;
    font-size: 32px;
}
.botao {
    font-family: 'Chakra Petch',sans-serif;
    background-color:var(--botão-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
}
@media screen and (min-width:768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
.ativo{
        background-color: var(--botão-ativo);
        border-bottom: 4px solid var(--verde);  
    }

 .botao.ativo{
        background-color: var(--botão-ativo);
        border-bottom: 40px solid var(--verde);
    }
 .abas-texto{
        background-color: var(--texto-fundo);
        padding: 40px;
        border-radius: 0 0 40px 40px;
    }
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}


    
 